header {
  height: 7vh;
  position: sticky;
  -webkit-box-shadow: 0 0 9px 3px rgba(41,41,41,.25);
  -moz-box-shadow: 0 0 9px 3px rgba(41,41,41,.25);
  box-shadow: 0 0 9px 3px rgba(41,41,41,.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
}

header .header-logo, header .header-logo img {
  height: 7vh;
}

header .company-logo {
  margin-right: 1.5rem;
}

header .header-logo {
  display: flex;
  justify-content: center;
}

header .header-actions {
  display: flex;
  align-items: center;
}

header .profile-picture {
  margin-left: 1.5rem;
}

header .header-notifications {
  font-size: 1.75rem;
}

.header-logo-img {
  border-right: 1px solid #dbdbdb;
}