.dashboard-background-image {
  background-image: url('../../assets/img/Vertical.jpg');
  background-size: cover;
  background-position: center;
}

.dashboard-main-form {
  height: 93vh;
  display: flex;
  justify-content: center;
}